.crumb_wraper,
.hotel_header,
.hotel_order {
    width: 1100px;
    margin: 10px auto;
}


/* 面包屑 */

.crumb {
    height: 30px;
    line-height: 30px;
}

.crumb div {
    float: left;
}

.crumb a,
.crumb span {
    color: #777;
}

.crumb a:hover,
.images a:hover {
    text-decoration: underline;
}

.crumb span {
    margin: 0 8px;
    font-family: 'simsun';
}


/* 酒店信息 */

.hotel_header h3 {
    font-weight: normal;
    font-size: 18px;
}

.stars,
.score>span {
    float: left;
}

.score>span {
    color: #777;
    height: 30px;
    line-height: 30px;
}

.stars {
    width: 130px;
    margin-left: 10px;
}

.stars a {
    display: block;
    float: left;
    margin: 7px 0;
    height: 15px;
    width: 10px;
    background: url(../images/hotel-bg.png) -290px -110px;
}

.score::after {
    content: '';
    display: block;
    clear: both;
}

.site {
    height: 30px;
    line-height: 30px;
}

.site span::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url(../images/hotel-bg.png);
    background-position: -130px 0;
    margin: 0 4px 0 10px;
}

.grade {
    float: right;
    margin: -25px 160px 0 0;
    color: #ff9d00;
}

.grade em {
    font-size: 16px;
}


/* 酒店图片 */

.hotel_images {
    height: 480px;
    padding: 10px 0;
}

.big_image {
    position: relative;
    width: 660px;
    height: 480px;
    float: left;
}

.big_image img {
    width: 100%;
    height: 100%;
}

.big_image .bg {
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 6px;
    position: absolute;
}

.big_image .img_num {
    top: 10px;
    right: 10px;
}

.big_image .img_info {
    bottom: 10px;
    left: 10px;
    width: 200px;
    height: 80px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.small_image {
    width: 440px;
    height: 480px;
    float: right;
}

.small_image img {
    width: 210px;
    height: 155px;
    float: left;
    margin: 0 0 7px 10px;
}


/* 酒店预订 */

table {
    width: 100%;
    border: 1px solid #ccc;
    text-align: left;
    text-indent: 10px;
}

thead th {
    background-color: #eee;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

th:nth-child(1) {
    border-right: 1px solid #ccc;
}

tbody td {
    height: 120px;
    border-bottom: 1px solid #ccc;
}

td:nth-child(1) {
    width: 200px;
    border-right: 1px solid #ccc;
}

td:nth-child(2) {
    width: 140px;
}

table ul {
    list-style: outside;
}

.room_number {
    display: inline-block;
    vertical-align: top;
}

th:nth-last-child(1) {
    width: 200px;
}

select {
    width: 50px;
    height: 25px;
}

table a {
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 25px;
    text-indent: 0;
    line-height: 25px;
    color: #fff;
    background-color: #f40;
    border-radius: 4px;
}

td>span {
    color: #ff9d00;
    font-weight: bold;
}

td span em {
    color: #666;
}

td>span+div em {
    color: #f00;
}