/* 轮播图 */

#banner {
    position: relative;
}

.banner_img img {
    width: 100%;
    /* transition: 2s; */
    height: 450px;
}

.banner_img li {
    transition: 2s;
    display: none;
    opacity: 0.8;
    animation: loading-photo 1s ease 0s infinite normal running;
}

.banner_img .dis {
    display: list-item;
    /* opacity: 1; */
    /* transition: 0.5s; */
}


/* 轮播图小图片 */

.banner_nav {
    position: absolute;
    right: 50px;
    top: 10px;
}

.banner_nav li {
    width: 110px;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
}

.banner_nav img {
    width: 110px;
    height: 60px;
}

.banner_nav .activ {
    border: none;
    border: 1px solid #ff9d00;
}

.banner_nav+a {
    position: absolute;
    right: 50px;
    bottom: 40px;
    width: 110px;
    height: 35px;
    background-image: url(../images/bg02.png);
    background-position: -60px 150px;
}


/* 轮播图里的搜索 */

.banner_search {
    position: absolute;
    bottom: 50px;
    left: 450px;
    width: 470px;
    height: 90px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
}

.search_top {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

.search_top li {
    margin-left: 20px;
    float: left;
    cursor: pointer;
}

.search_top a {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../images/bg01.png);
    background-position: -60px 90px;
    vertical-align: middle;
    margin-right: 6px;
}

.search_top .activ a {
    background-image: url(../images/bg01.png);
    background-position: -60px 60px;
}

.search_bottom {
    height: 50px;
    width: 100%;
}

.search_bottom input {
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 4px;
    margin: 7.5px;
    text-indent: 2em;
    margin-right: 0;
    display: none;
}

.search_bottom .dis {
    display: inline-block;
}

.search_bottom span {
    display: inline-block;
    background-color: #ff9d00;
    border-radius: 4px;
}

.search_bottom a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-image: url(../images/bg01.png);
    background-position: 0 90px;
    vertical-align: middle;
}


/* 内容 */

.container {
    width: 1100px;
    height: 1000px;
    margin: 0 auto;
}

.cont_img {
    width: 300px;
    float: left;
}

.cont_img img {
    width: 260px;
    height: 1000px;
}

.cont_main {
    height: 100%;
    float: left;
}


/* 热卖爆款 */

.main_top {
    width: 700px;
    height: 300px;
    padding: 0 20px;
}

.hot h3 {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    text-indent: 16px;
    font-weight: normal;
    letter-spacing: 4px;
}

.hot_content ul li {
    width: 200px;
    height: 230px;
    position: relative;
    float: left;
    margin: 10px 16px;
}

.hot_content ul li p {
    width: 178px;
    height: 38px;
    padding: 10px 10px 0;
    color: rgb(71, 71, 71);
    background-color: rgba(250, 250, 250, 1);
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.hot_content ul li p:hover {
    top: -60px;
    height: 98px;
    border: 1px solid #9e9e9e;
    color: #272727;
}

.hot_content ul li span {
    position: absolute;
    right: 0;
    bottom: 0;
}


/* 游记 */

.main_bottom {
    width: 700px;
    padding: 0 20px;
}

#travels_head {
    width: 700px;
    height: 60px;
    transition: 2s;
    border-bottom: 1px solid #9e9e9e;
}

#travels_head li {
    float: left;
    height: 59px;
    line-height: 59px;
    text-indent: 10px;
    font-size: 18px;
    border-bottom: 3px solid transparent;
    padding-right: 30px;
    margin-left: 10px;
}

#travels_head .activ {
    border-bottom: 3px solid #ff9d00;
}

#travels_head .activ a {
    color: #ff9d00;
}

.main_bottom #dis,
.main_bottom #dis {
    display: block;
}

.hot_travels,
.new_travels {
    width: 680px;
    height: 580px;
    padding: 10px;
    display: none;
    margin-top: 8px;
    /* border: 1px solid black; */
}

.hot_travels li,
.new_travels li {
    width: 100%;
    height: 150px;
    padding-bottom: 4px;
}

.hot_travels li:hover,
.new_travels li:hover {
    background-color: #ebebeb;
}

.travels_img {
    width: 220px;
    height: 150px;
    float: left;
}

.travels_img img {
    width: 100%;
    height: 100%;
}

.travels_text {
    width: 440px;
    height: 100%;
    padding: 0 10px;
    float: left;
}

.travels_text h3 {
    font-weight: normal;
    font-family: 微软雅黑;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
}

.travels_text p {
    height: 70px;
    margin-top: 10px;
}

.user_info {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.user_info span {
    color: #999;
}

.user_info span a {
    color: #999;
}

.user_info a:hover {
    color: #ff9d00;
    text-decoration: underline;
}

.user_name span {
    color: #ff9d00;
}

.place::before,
.page_view::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background-image: url(../images/bg02.png);
}

.place {
    margin-right: 6px;
}

.place::before {
    width: 15px;
    background-position: 0px -50px;
}

.page_view {
    margin-left: 8px;
}

.page_view::before {
    background-position: -30px -49px;
}

.user_name img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    vertical-align: middle;
}

.ding {
    float: right;
}

.ding a {
    width: 38px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/bg02.png) -60px 0;
}

.ding em {
    color: #ff9d00;
}