/* 轮播图 */

#banner {
    position: relative;
}

.banner_img img {
    width: 100%;
    height: 450px;
}

.banner_img li {
    display: none;
}

.banner_img .dis {
    display: block;
}


/* 轮播图小图片 */

.banner_nav {
    position: absolute;
    right: 50px;
    top: 10px;
}

.banner_nav li {
    width: 110px;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
}

.banner_nav img {
    width: 110px;
    height: 60px;
}

.banner_nav .activ {
    border: none;
    border: 1px solid #ff9d00;
}

.banner_nav+a {
    position: absolute;
    right: 50px;
    bottom: 40px;
    width: 110px;
    height: 35px;
    background-image: url(../images/bg02.png);
    background-position: -60px 150px;
}


/* 轮播图里的搜索 */

.banner_search {
    position: absolute;
    bottom: 50px;
    left: 450px;
    width: 470px;
    height: 90px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
}

.search_top {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

.search_top li {
    margin-left: 20px;
    float: left;
    cursor: pointer;
}

.search_top a {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../images/bg01.png);
    background-position: -60px 90px;
    vertical-align: middle;
    margin-right: 6px;
}

.search_top .activ a {
    background-image: url(../images/bg01.png);
    background-position: -60px 60px;
}

.search_bottom {
    height: 50px;
    width: 100%;
}

.search_bottom input {
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 4px;
    margin: 7.5px;
    text-indent: 2em;
    margin-right: 0;
    display: none;
}

.search_bottom .dis {
    display: inline-block;
}

.search_bottom span {
    display: inline-block;
    background-color: #ff9d00;
    border-radius: 4px;
}

.search_bottom a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    background-image: url(../images/bg01.png);
    background-position: 0 90px;
    vertical-align: middle;
}


/* 内容 */

.container {
    width: 1200px;
    height: 950px;
    margin: 0 auto;
}

.cont_img {
    width: 300px;
    float: left;
}

.cont_main {
    height: 100%;
    float: left;
}

.main_top {
    width: 860px;
    height: 300px;
    padding: 0 20px;
}

.hot h3 {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 4px;
}

.hot_content ul li {
    width: 200px;
    height: 230px;
    position: relative;
    float: left;
    margin: 10px 10px;
}

.hot_content ul li p {
    width: 180px;
    height: 38px;
    padding: 10px 10px 0;
    color: rgb(250, 250, 250);
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    /* display: -webkit-box;
    box-orient: vertical;
    line-clamp: 2;
    overflow: hidden; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.hot_content ul li p:hover {
    top: -100px;
    height: 138px;
    /* color: rgb(250, 250, 250);
    background-color: rgba(0, 0, 0, 0.8); */
}

.hot_content ul li span {
    position: absolute;
    right: 0;
    bottom: 0;
}