.mdd_content {
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}

.hot_mdd {
    height: 400px;
    width: 100%;
}

.recommend,
.subject {
    height: 300px;
    width: 100%;
}

.content_head {
    width: 100%;
}

.content_head h3 {
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.content_head ul {
    margin: 0 auto;
    height: 42px;
}

.hot_mdd ul {
    width: 665px;
}

.recommend ul {
    width: 830px;
}

.recommend ul li {
    margin: 0 10px;
}

.content_head li {
    float: left;
    padding: 10px;
    font-size: 16px;
}

.content_head li:hover {
    border-bottom: 1px solid #ff9d00;
}

.content_head li span {
    margin-right: 20px;
    color: #ddd;
    font-size: 10px;
}