.crumb_wraper,
.scenery_header,
.images_wraper,
.scenery_info,
.time,
.ticket {
    width: 1100px;
    margin: 0 auto;
}

.border_wrap {
    border-bottom: 1px solid #aaa;
}

.crumb {
    height: 30px;
    line-height: 30px;
}

.crumb div {
    margin-right: 6px;
    float: left;
}

.crumb a,
.crumb span {
    color: #777;
}

.crumb a:hover,
.images a:hover {
    text-decoration: underline;
}

.crumb span {
    margin: 0 8px;
    font-family: 'simsun';
}

.scenery_header h1 {
    font-weight: normal;
    font-size: 26px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
}

.scenery_header a {
    display: inline-block;
    padding: 20px;
    border-bottom: 2px solid #ff9d00;
}

.scenery_header span {
    float: right;
    line-height: 60px;
}

.scenery_header em {
    font-size: 18px;
    color: #ff9d00;
}

.border_wrap+.border_wrap {
    background-color: #eee;
}

.images_wraper::after {
    display: block;
    content: '';
    clear: both;
}

.images_wraper {
    padding: 20px 0;
}

.big_image {
    position: relative;
    width: 700px;
    height: 350px;
    float: left;
}

.big_image img {
    width: 100%;
    height: 100%;
}

.big_image div {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

.amall_image {
    width: 400px;
    height: 350px;
    float: right;
}

.amall_image img {
    float: left;
    width: 390px;
    height: 170px;
    margin: 0 0 10px 10px;
}

.scenery_info {
    margin-top: 20px;
    border-bottom: 1px dotted #aaa;
}

.scenery_info p {
    height: 80px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    padding: 10px 0;
}

.time {
    padding: 20px 0;
    border-bottom: 1px solid #aaa;
}

.time h5 {
    height: 30px;
    line-height: 30px;
}

.ticket {
    padding: 20px 0;
}

.ticket h3 {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border: 1px solid #777;
    text-indent: 20px;
    text-align: left;
}

th {
    height: 30px;
    background-color: #eee;
}

td {
    height: 50px;
}

td em {
    color: #aaa;
    margin-left: 20px;
}

td:nth-last-child(1) {
    width: 300px;
}

td a {
    display: inline-block;
    width: 70px;
    height: 30px;
    color: #fff;
    background-color: #f80;
    border-radius: 6px;
    text-align: center;
    line-height: 30px;
    text-indent: 0;
    margin-left: 40px;
}